@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 14px;
  --chart-ticklabels-color: black;
}

.container-min-h-full {
  min-height: calc(100dvh - 56px);
}

.container-min-h-full {
  height: calc(100dvh - 56px);
}

.dark {
  --chart-ticklabels-color: white;
}
